<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natural Language Prover</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
    <script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script>
    <script src="//d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
    <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
    <style>
        html {
            height: 100%
        }

        main {
            max-width: 800px;
            min-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .expression_input > label {
            display: inline-block;
            width: 100px;
        }

        .expression_input > input {
            display: inline-block;
            width: 500px;
            transform: translateY(2px);
        }

        #graph > svg {
            width: 100%;
        }

        .heading {
            font-family: 'Dancing Script', cursive;
            font-size: 4.5rem;
            text-align: center;
            margin-bottom: 3rem;
        }

        .applied_rules {
            margin-top: 3rem;
        }

        .graph {
            text-align: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
<div>
    <div id="app">
        <main>

            <header>
                <h1 class="heading">Natural Language Reasoner</h1>
            </header>

            <ul class="nav nav-pills nav-fill pb-3" id="tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link border" id="reasoner-tab" v-on:click="change_page('reasoner')"
                            type="button" data-bs-toggle="tab" data-bs-target="#reasoner"
                            role="tab" aria-controls="reasoner" aria-selected="false">
                        Reasoner
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link border" id="language-tab" v-on:click="change_page('language')"
                            type="button" data-bs-toggle="tab" data-bs-target="#language"
                            role="tab" aria-controls="language" aria-selected="false">
                        Language Check
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane" id="reasoner" role="tabpanel" aria-labelledby="reasoner-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" v-for="tab in tabs" :class="{ dropdown: tab.examples.length >= 1}"
                            role="presentation">
                            <a v-if="tab.examples.length == 1" class="nav-link"
                               :class="{ active: tab.tab_name == current_tab}"
                               href="#"
                               aria-current="page" v-on:click="change_tab(tab, -1)">{{tab.tab_name}}</a>

                            <a v-if="tab.examples.length > 1" class="nav-link dropdown-toggle" data-toggle="dropdown"
                               :class="{ active: tab.tab_name == current_tab}" data-bs-toggle="dropdown"
                               data-bs-auto-close="true" href="#" aria-expanded="false">{{tab.tab_name}}</a>
                            <ul v-if="tab.examples.length > 1" class="dropdown dropdown-menu" role="menu"
                                v-bind:id="tab.tab_name">
                                <li v-for="(example, index) in tab.examples">
                                    <a class="dropdown-item" href="#" v-on:click="change_tab(tab, index)">{{example.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <fieldset name="form" class="list-group p-4 border-end border-bottom border-start tab-content">
                        <div v-for="(item, index) in expressions" class="expression_input pb-1">
                            <label class="form-label">{{index + 1}}. input:</label>
                            <input type="text" v-model:value="item.value" placeholder="Next Expression"
                                   class="form-control"/>
                            <button v-on:click="remove_field(index)" type="button" class="btn btn-danger"
                                    :class="{disabled: expressions.length == 1}">-
                            </button>
                            <button v-if="index == expressions.length-1" v-on:click="add_field" type="button"
                                    class="btn btn-success">+
                            </button>
                            <br>
                        </div>
                        <div class="expression_input" class="list-group-item">
                            <label>To be shown:</label>
                            <input type="text" v-model:value="to_be_shown" class="form-control"/>
                            <br>
                        </div>
                        <button v-on:click="send_request" type="button" class="btn btn-primary"
                                style="margin-top: 8px;">Solve
                        </button>
                    </fieldset>

                    <div :style="{'display': response && error == null ? 'block' : 'none'}">
                        <div class="card my-4"
                             :class="{'bg-success': tree_closes, 'bg-danger': !tree_closes}">
                            <h2 v-if="tree_closes" class="display-5 text-center">The statement is valid</h2>
                            <h2 v-if="!tree_closes" class="display-5 text-center">There is a branch that doesn't
                                close</h2>
                        </div>

                        <div class="accordion mb-4" id="accordionAppliedRule" v-if="applied_rules.length != 0">
                            <div class="accordion-item">
                                <h1 class="accordion-header" id="heading-applied-rule">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseAppliedRule" aria-expanded="false"
                                            aria-controls="collapseAppliedRule">
                                    <span class="fs-3">
                                        Applied Rules
                                    </span>
                                    </button>
                                </h1>
                                <div id="collapseAppliedRule" class="accordion-collapse collapse"
                                     aria-labelledby="heading-applied-rule" data-bs-parent="#accordionAppliedRule">
                                    <div class="accordion-body">
                                        <div id="accordion" class="accordion">
                                            <div class="accordion-item" v-for="(rule, index) in applied_rules">
                                                <h1 class="accordion-header" :id="'heading-applied-rule-' + index"
                                                    v-if="index != 'root_node'">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            :data-bs-target="'#collapseAppliedRule-' + index"
                                                            aria-expanded="false"
                                                            :aria-controls="'collapseAppliedRule-' + index">
                                                    <span class="fs-5">
                                                        {{rule.rule_name}}
                                                    </span>
                                                    </button>
                                                </h1>
                                                <div :id="'collapseAppliedRule-' + index"
                                                     class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                    <div class="accordion-body">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">Referenced Line</th>
                                                                <th scope="col" v-if="rule.created_expressions">Created
                                                                    Expressions
                                                                </th>
                                                                <th scope="col">Used Expression</th>
                                                                <th scope="col"
                                                                    v-if="rule.matched_expression != 'None'">
                                                                    Matched
                                                                    Expression
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>{{rule.referenced_line}}</td>
                                                                <td v-if="rule.created_expressions">
                                                                    <ul>
                                                                        <li v-for="expression_list in rule.created_expressions">
                                                                            {{expression_list}}
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                                <td>{{rule.c_expression}}</td>
                                                                <td v-if="rule.matched_expression != 'None'">
                                                                    {{rule.matched_expression}}
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p v-if="response">*You can hover over each node to receive a more detailed explanation of the
                            applied rule.</p>
                        <div id="graph" class="graph" :class="{border: response}"></div>
                    </div>

                </div>
                <div class="tab-pane" id="language" role="tabpanel" aria-labelledby="language-tab">
                    <h3>Language Check</h3>
                    <p>
                        Here you can check out what our constrained natural language is able to parse.
                        You can either write your own sentences or checkout the examples that we provided.
                    </p>

                    <!-- This next part encapsulates the examples in an collapsable accordion -->
                    <div class="accordion mb-4" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    <span class="fs-3">
                                        Examples
                                    </span>
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="input-group mb-2">
                                        <div class="input-group-text">
                                            <input class="form-check-input mt-0" type="checkbox"
                                                   v-model:value="auto_send"
                                                   aria-label="Checkbox for automatically sending the language request">
                                        </div>
                                        <span class="form-control">When selecting a language example, automatically send the request to the server.</span>
                                    </div>

                                    <div class="accordion mb-4" id="language_examples_accordion">
                                        <div class="accordion-item" v-for="(group, group_index) in language_examples">
                                            <h3 class="accordion-header" :id="'group_heading_' + group_index">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        :data-bs-target="'#group_collapse_' + group_index"
                                                        aria-expanded="true"
                                                        :aria-controls="'group_collapse_' + group_index">
                                                    {{group['group_name']}}
                                                </button>
                                            </h3>
                                            <div :id="'group_collapse_' + group_index"
                                                 class="accordion-collapse collapse"
                                                 :aria-labelledby="'group_heading_' + group_index"
                                                 data-bs-parent="#language_examples_accordion">
                                                <div class="accordion-body">
                                                    <div class="d-flex flex-row justify-content-between flex-wrap">
                                                        <button type="button" class="btn m-1 text-nowrap flex-grow-1"
                                                                :class="{'btn-outline-success': sentence != language_example, 'btn-success': sentence == language_example}"
                                                                v-for="language_example in group['examples']"
                                                                v-on:click="select_language_example(language_example)">
                                                            {{language_example}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset name="form" class="list-group border p-4">
                        <div class="pb-3">
                            <label class="w-100">
                                <span class="form-label">Test sentence:</span>
                                <input type="text" placeholder="Next Expression" class="form-control"
                                       v-model:value="sentence"/>
                            </label>
                        </div>
                        <button type="button" class="btn btn-primary" v-on:click="language_request"
                                :class="{disabled: !sentence}">
                            Check
                        </button>
                    </fieldset>

                    <div class="container-fluid p-4">

                        <div v-html="create_sentence_presentation"
                             v-if="!error"
                             style="position: absolute; left: 50%; transform: translateX(-50%);">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-danger mt-2" v-if="error">
                <div class="card-header">
                    <span class="lead" v-if="error.type == 'ParseException'">
                        Parse Exception
                    </span>
                    <span class="lead" v-if="error.type != 'ParseException'">
                        Internal Error
                    </span>
                </div>
                <div class="card-body">
                    <div v-if="error.type != 'ParseException'">
                        <span class="lead">Oops something went wrong and we dont really know what.</span><br>
                        <span class="lead">This could help tho: {{error.error}}</span>
                    </div>
                    <div v-if="error.type == 'ParseException'">
                        <span class="lead">We detected a error in the parsing process</span><br>
                        <span class="lead">This are the errors we collected along the way:</span><br>
                        <ul>
                            <li v-for="c_error in error.list">{{c_error}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div v-if="response || language_output" style="height: calc(0.5 * 100vh)"></div>
            <div id="tooltip" class="card"
                 :style="{'display': tooltip_visible ? 'block' : 'none', 'top': topOffset, 'left': leftOffset}"
                 style="position: fixed">
                <div class="card-header">{{tooltip_header}}</div>
                <div class="card-body">
                    <table class="m-2" v-if="basic_in_expressions">
                        <tr style="border-bottom: 2px solid black">
                            <td style="text-align: center;">
                                <span v-for="(in_expression, index) in basic_in_expressions">
                                    {{in_expression}}
                                    <span v-if="basic_in_expressions.length > 1 && index != basic_in_expressions.length - 1">,</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <span v-for="(out_expression, index) in basic_out_expressions">
                                    <span v-for="(out_inner_expression, index_2) in out_expression">
                                        {{out_inner_expression}}<span
                                            v-if="out_expression.length > 1 && index_2 != out_expression.length - 1">,</span>
                                    </span>
                                    <span v-if="basic_out_expressions.length > 1 && index != basic_out_expressions.length - 1">|</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <p v-if="basic_in_expressions">This rule applied looks like this:</p>
                    <table class="m-2" v-if="in_expressions">
                        <tr style="border-bottom: 2px solid black">
                            <td style="text-align: center;">
                                <span v-for="(in_expression, index) in in_expressions">
                                    {{in_expression}}
                                    <span v-if="in_expressions.length > 1 && index != in_expressions.length - 1">,</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <span v-for="(out_expression, index) in out_expressions">
                                    <span v-for="(out_inner_expression, index_2) in out_expression">
                                        {{out_inner_expression}}
                                        <span v-if="out_expression.length > 1 && index_2 != out_expression.length - 1">,</span>
                                    </span>
                                    <span v-if="out_expressions.length > 1 && index != out_expressions.length - 1">|</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <p class="m-2" v-html="tooltip_description"></p>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
<script>
    var router = new VueRouter({});
    var app = new Vue({
        el: '#app',
        data: {
            expressions: [],
            to_be_shown: null,
            response: null,
            error: null,
            applied_rules: [],
            tree_closes: true,
            up: true,
            current_tab: 'Normal Examples',
            tabs: [],
            language_examples: [],
            sentence: 'When i love you then you love me',
            auto_send: true,
            language_output: null,
            tooltip_header: "",
            in_expressions: "",
            out_expressions: "",
            basic_in_expressions: "",
            basic_out_expressions: "",
            tooltip_description: "",
            tooltip_visible: false,
            topOffset: "0px",
            leftOffset: "0px",
            graph_rendered: false,
        },
        mounted() {
            if (window.location.hash === "#/" || window.location.hash === "/")
                router.push("reasoner")
            if (window.location.hash === "#/language")
                this.change_page("language")
            else
                this.change_page("reasoner")

            window.onmousemove = (e) => {
                if (this.tooltip_visible) {
                    let x = e.clientX,
                        y = e.clientY;
                    this.topOffset = (y + 20) + 'px';
                    this.leftOffset = (x + 20) + 'px';
                }
            };

            axios
                .get('/examples?name=reasoner_examples.json')
                .then(response => {
                    this.tabs = response['data']
                    this.change_tab(this.tabs[0], -1)
                })
            axios
                .get('/examples?name=language_examples.json')
                .then(response => {
                    this.language_examples = response['data']
                    this.sentence = this.language_examples[0]["examples"][0]
                })
        },
        computed: {
            create_sentence_presentation() {
                if (this.language_output == null)
                    return "<div></div>"

                return this.recursive_sentence_structure(this.language_output)
            },
        },
        methods: {

            select_language_example(example) {
                this.sentence = example
                if (this.auto_send) {
                    this.language_request()
                }
            },
            change_page(to_page) {
                let reasoner_panel = document.getElementById("reasoner")
                let language_panel = document.getElementById("language")
                let reasoner_panel_tab = document.getElementById("reasoner-tab")
                let language_panel_tab = document.getElementById("language-tab")

                if (to_page === "reasoner") {
                    reasoner_panel_tab.classList.add("active");
                    reasoner_panel.classList.add("active");
                    router.push("reasoner")
                } else {
                    language_panel_tab.classList.add("active");
                    language_panel.classList.add("active");
                    router.push("language")
                }
            },
            change_tab(tab, idx) {
                if (idx < 0)
                    idx = 0
                let selected_example = JSON.parse(JSON.stringify(tab.tab_name));
                this.current_tab = selected_example
                let example = JSON.parse(JSON.stringify(tab.examples[idx]));
                this.expressions = example.expressions
                this.to_be_shown = example.to_be_shown

                let myDropdown = document.getElementById(selected_example)
                if (myDropdown)
                    myDropdown.classList.remove("show");
            },
            remove_field(index) {
                this.expressions.splice(index, 1);
            },
            add_field() {
                this.expressions.push(
                    {value: ''}
                )
            },
            language_request() {
                this.error = null
                console.log(this.sentence)
                // GET /someUrl
                let data = {sentence: this.sentence};
                this.$http.post('/language-request', data).then(response => {
                    console.log(this.sentence)
                    // get body data
                    this.language_output = response.body;
                }, response => {
                    // error callback
                    this.error = JSON.parse(response.bodyText.replaceAll("\"", '`').replaceAll("'", '"'))
                });
            },
            send_request() {
                this.error = null
                // GET /someUrl
                let data = {expressions: this.expressions, to_be_shown: this.to_be_shown};
                this.$http.post('/solve-request', data).then(response => {

                    console.log(data)

                    // get body data
                    this.response = response.body;
                    this.applied_rules = response.body['applied_rules']
                    this.tree_closes = JSON.parse(response.body['all_branches_closed'])

                    for (let applied_rule_idx in this.applied_rules) {
                        applied_rule = this.applied_rules[applied_rule_idx]
                        if (applied_rule.created_expressions) {
                            console.log(applied_rule.created_expressions.replaceAll("'", '"'))
                            applied_rule.created_expressions = JSON.parse(applied_rule.created_expressions.replaceAll("\"", '`').replaceAll("'", '"'))
                        }
                    }

                    this.display_tree(response.body['dot_graph'])
                }, response => {
                    // error callback
                    this.error = JSON.parse(response.bodyText.replaceAll("\"", '`').replaceAll("'", '"'))
                });
            },
            toggle_tooltip(element, enter) {
                c_rule = this.applied_rules[element[0].id]['rule_desc_obj']
                rule_object = JSON.parse(c_rule.replaceAll("\"", '`').replaceAll("'", '"'))

                this.tooltip_header = rule_object['name']
                this.in_expressions = rule_object['in_expression']
                this.out_expressions = rule_object['out_expression']
                this.basic_in_expressions = rule_object['basic_in_expression']
                this.basic_out_expressions = rule_object['basic_out_expression']
                this.tooltip_description = rule_object['description']

                this.tooltip_visible = enter
            },
            display_tree(dot_graph) {
                if (this.graph_rendered)
                    d3.select("#graph").graphviz({useWorker: false}).resetZoom();
                d3.select("#graph")
                    .graphviz({useWorker: false})
                    .on("renderEnd", () => {
                        this.graph_rendered = true
                        var nodes = d3.selectAll(".node");
                        for (let i = 0; i < nodes._groups[0].length; i++) {
                            c_node = nodes._groups[0][i]
                            c_node_children = $(c_node).children()
                            $($(c_node_children[1]).children()[0]).children("polygon")[0].setAttribute("fill", "#ffffff")
                            c_node_children[1].onpointerenter = (event) => {
                                this.toggle_tooltip($(event.target).parent(), true);
                            };
                            c_node_children[1].onpointerleave = (event) => {
                                this.toggle_tooltip($(event.target).parent(), false);
                            };
                        }
                    })
                    .renderDot(dot_graph);

            },
            get_color(type) {
                let color = "#a5363b"
                if (type === -1) color = "#fd8f55"
                else if (type === 1) color = "#c66432"
                else if (type === 2) color = "#4f7e5f"
                else if (type === -2) color = "#6dc88a"
                else if (type === 3) color = "#586983"
                else if (type === -3) color = "#8aa1cb"
                else if (type === 4) color = "#b161b1"
                else if (type === -4) color = "#ffb8ff"
                else if (type === 5) color = "#b39986"
                else if (type === -5) color = "#fdb78a"
                else if (type === 6) color = "#1281d6"
                else if (type === -6) color = "#68a8ec"
                return color
            },
            get_border_color(type) {
                let color = "#8a1f25"
                if (type === 1) color = "#ca5e26"
                else if (type === -1) color = "#602007"
                else if (type === 2) color = "#285f42"
                else if (type === -2) color = "#2f854a"
                else if (type === 3) color = "#354d77"
                else if (type === -3) color = "#40567e"
                else if (type === 4) color = "#452245"
                else if (type === -4) color = "#8f488f"
                else if (type === 5) color = "#836550"
                else if (type === -5) color = "#9d6640"
                else if (type === 6) color = "#064673"
                else if (type === -6) color = "#284877"
                return color
            },
            recursive_sentence_structure(sentence_part) {
                c_type = sentence_part['type']

                let ret_html = "<div " +
                    "class=\"p-1 m-1 rounded align-middle d-flex flex-column align-content-center justify-content-center\" " +
                    "style=\"background-color: " + this.get_color(c_type) +
                    "; border: 3px solid " + this.get_border_color(c_type) + "\">\n"
                ret_html += "<h4 class='flex-row' style='margin: 0.25em 0.25em 0 0.25em'>" + sentence_part['name'] + "</h4>"
                ret_html += "<div class='d-flex flex-row d-inline-flex align-content-center justify-content-center'>"
                if (sentence_part['tokens'])
                    ret_html += "<span class=\"text-center text-nowrap\"><strong>" + sentence_part['tokens'] + "</strong></span>"
                for (let i = 0; i < sentence_part['list'].length; i++) {
                    let current_sentence_part = sentence_part['list'][i]
                    if (current_sentence_part['list'] && current_sentence_part['list'].length >= 1) {
                        ret_html += this.recursive_sentence_structure(current_sentence_part)
                    } else {
                        let cs_type = current_sentence_part['type'];
                        ret_html += "<div class=\"p-1 m-1 rounded align-middle\" " +
                            "style=\"background-color: " + this.get_color(cs_type) +
                            "; display: flex; justify-content: center; flex-direction: column; " +
                            "border: 2px solid " + this.get_border_color(cs_type) + "\">\n"
                        if (cs_type === 0)
                            ret_html += "<span class=\"text-center\"><strong>¬</strong></span>"
                        else {
                            if (current_sentence_part['name'])
                                ret_html += "<span class=\"text-center text-nowrap\">" + current_sentence_part['name'] + "</span>"
                            if (current_sentence_part['tokens'])
                                ret_html += "<span class=\"text-center text-nowrap\"><strong>" + current_sentence_part['tokens'] + "</strong></span>"
                        }
                        ret_html += "</div>"
                    }
                }
                ret_html += "</div></div>\n"
                return ret_html
            },
        },
    })
</script>
</html>