<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natural Language Prover</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="//d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
    <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
    <style>
        @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

        html {
            height: 100%
        }

        main {
            max-width: 800px;
            min-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .expression_input > label {
            display: inline-block;
            width: 100px;
        }

        .expression_input > input {
            display: inline-block;
            width: 500px;
            transform: translateY(2px);
        }

        #graph > svg {
            width: 100%;
        }

        .heading {
            font-family: 'Dancing Script', cursive;
            font-size: 6.5rem;
            text-align: center;
            margin-bottom: 3rem;
        }

        .applied_rules {
            margin-top: 3rem;
        }

        .graph {
            text-align: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
<div>
    <div id="app">
        <main>

            <header>
                <h1 class="heading">Natural Language Reasoner</h1>
            </header>

            <ul class="nav nav-pills nav-fill pb-5" id="tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active border" id="reasoner-tab" v-on:click="change_page('reasoner')"
                            type="button"
                            role="tab" aria-controls="reasoner" aria-selected="false">
                        Reasoner
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link border" id="language-tab" v-on:click="change_page('language')" type="button"
                            role="tab" aria-controls="language" aria-selected="false">
                        Language Check
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane show" id="reasoner" role="tabpanel" aria-labelledby="reasoner-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" v-for="tab in tabs" :class="{ dropdown: tab.examples.length >= 1}"
                            role="presentation">
                            <a v-if="tab.examples.length == 1" class="nav-link"
                               :class="{ active: tab.tab_name == current_tab}"
                               href="#"
                               aria-current="page" v-on:click="change_tab(tab, -1)">{{tab.tab_name}}</a>

                            <a v-if="tab.examples.length > 1" class="nav-link dropdown-toggle" data-toggle="dropdown"
                               :class="{ active: tab.tab_name == current_tab}" data-bs-toggle="dropdown"
                               data-bs-auto-close="true" href="#" aria-expanded="false">{{tab.tab_name}}</a>
                            <ul v-if="tab.examples.length > 1" class="dropdown dropdown-menu" role="menu"
                                v-bind:id="tab.tab_name">
                                <li v-for="(example, index) in tab.examples">
                                    <a class="dropdown-item" href="#" v-on:click="change_tab(tab, index)">{{example.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <fieldset name="form" class="list-group p-5 border-end border-bottom border-start tab-content">
                        <div v-for="(item, index) in expressions" class="expression_input pb-3">
                            <label class="form-label">{{index + 1}}. input:</label>
                            <input type="text" v-model:value="item.value" placeholder="Next Expression"
                                   class="form-control"/>
                            <button v-on:click="remove_field(index)" type="button" class="btn btn-danger">-</button>
                            <button v-if="index == expressions.length-1" v-on:click="add_field" type="button"
                                    class="btn btn-success">+
                            </button>
                            <br>
                        </div>
                        <div class="expression_input" class="list-group-item">
                            <label>To be shown:</label>
                            <input type="text" v-model:value="to_be_shown" class="form-control"/>
                            <br>
                        </div>
                        <button v-on:click="send_request" type="button" class="btn btn-primary"
                                style="margin-top: 8px;">Solve
                        </button>
                    </fieldset>
                    <div class="card applied_rules" v-if="applied_rules.length != 0">
                        <div class="card-header">
                            <h3 class="mb-0 d-inline align-middle">Applied Rules</h3>
                            <button class="btn btn-default float-right align-middle"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#accordion"
                                    v-on:click="up = !up">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"
                                      v-if="up == false"></span>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"
                                      v-if="up == true"></span>
                            </button>
                        </div>
                        <div id="accordion" class="accordion collapse">
                            <div class="accordion-item" v-for="(rule, index) in applied_rules">
                                <div class="accordion-header" v-bind:id="'heading_' + index">

                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            v-bind:data-bs-target="'#collapse-' + index">
                                        <h5>
                                            {{index}}. applied rule {{rule.rule_name}}
                                        </h5>
                                    </button>
                                </div>

                                <div v-bind:id="'collapse-' + index" class="accordion-collapse collapse"
                                     data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Referenced Line</th>
                                                <th scope="col" v-if="rule.created_expressions">Created Expressions</th>
                                                <th scope="col">Used Expression</th>
                                                <th scope="col" v-if="rule.matched_expression != 'None'">Matched
                                                    Expression
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{rule.referenced_line}}</td>
                                                <td v-if="rule.created_expressions">
                                                    <ul>
                                                        <li v-for="expression_list in rule.created_expressions">
                                                            {{expression_list}}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>{{rule.c_expression}}</td>
                                                <td v-if="rule.matched_expression != 'None'">
                                                    {{rule.matched_expression}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="graph" class="graph border-end border-start"></div>
                </div>
                <div class="tab-pane" id="language" role="tabpanel" aria-labelledby="language-tab">
                    <h3>Language Check</h3>
                    <p>
                        Here you can check out what our constrained natural language is able to parse and
                        provides you with feedback how it went.
                    </p>
                    <fieldset name="form" class="list-group p-5 border">
                        <div class="mb-3">
                            <span class="form-label">Test sentence:</span>
                            <input type="text" placeholder="Next Expression" class="form-control pt-3"
                                   v-model:value="sentence"/>
                        </div>
                        <button type="button" class="btn btn-primary" v-on:click="language_request"
                                style="margin-top: 8px;">Check
                        </button>
                    </fieldset>

                    <div class="container-fluid d-flex flex-row p-4 align-content-center">

                        <div v-html="create_sentence_presentation">
                        </div>
                    </div>
                </div>
            </div>

            <div style="color: red">{{error}}</div>
        </main>
    </div>
</div>

</body>
<script>
    var router = new VueRouter({});
    var app = new Vue({
        el: '#app',
        data: {
            expressions: [],
            to_be_shown: null,
            response: '',
            error: '',
            applied_rules: [],
            up: true,
            current_tab: 'Normal Examples',
            tabs: [],
            sentence: 'When i love you then you love me',
            language_output: ''
        },
        mounted() {
            if (window.location.hash === "#/" || window.location.hash === "/")
                router.push("reasoner")
            if (window.location.hash === "#/language")
                this.change_page("language")

            axios
                .get('/examples')
                .then(response => {
                    console.log(response['data'])
                    this.tabs = response['data']
                    this.change_tab(this.tabs[0], -1)
                })
        },
        computed: {
            create_sentence_presentation() {
                console.log("Test")
                if (this.language_output === "")
                    return "<div></div>"

                let data_structure = this.recursive_sentence_structure(this.language_output);
                console.log(data_structure)
                return data_structure
            },
        },
        methods: {
            change_page(to_page) {
                let reasoner_panel = document.getElementById("reasoner")
                let language_panel = document.getElementById("language")
                let reasoner_panel_tab = document.getElementById("reasoner-tab")
                let language_panel_tab = document.getElementById("language-tab")
                reasoner_panel.classList.remove("show");
                language_panel.classList.remove("show");
                reasoner_panel_tab.classList.remove("active");
                language_panel_tab.classList.remove("active");

                if (to_page === "reasoner") {
                    reasoner_panel.classList.add("show");
                    reasoner_panel_tab.classList.add("active");
                    router.push("reasoner")
                } else {
                    language_panel.classList.add("show");
                    language_panel_tab.classList.add("active");
                    router.push("language")
                }
            },
            change_tab(tab, idx) {
                if (idx < 0)
                    idx = 0
                this.current_tab = tab.tab_name
                this.expressions = tab.examples[idx].expressions
                this.to_be_shown = tab.examples[idx].to_be_shown

                let myDropdown = document.getElementById(tab.tab_name)
                if (myDropdown)
                    myDropdown.classList.remove("show");
            },
            remove_field(index) {
                this.expressions.splice(index, 1);
            },
            add_field() {
                this.expressions.push(
                    {value: ''}
                )
            },
            language_request() {
                this.error = ''
                console.log(this.sentence)
                // GET /someUrl
                let data = {sentence: this.sentence};
                this.$http.post('/language-request', data).then(response => {
                    console.log(this.sentence)
                    // get body data
                    this.language_output = response.body;
                }, response => {
                    // error callback
                    this.error = response
                });
            },
            send_request() {
                this.error = ''
                // GET /someUrl
                let data = {expressions: this.expressions, to_be_shown: this.to_be_shown};
                this.$http.post('/solve-request', data).then(response => {

                    // get body data
                    this.response = response.body;
                    this.applied_rules = response.body['applied_rules']

                    for (let applied_rule_idx in this.applied_rules) {
                        applied_rule = this.applied_rules[applied_rule_idx]
                        if (applied_rule.created_expressions) {
                            console.log(applied_rule.created_expressions.replaceAll("'", '"'))
                            applied_rule.created_expressions = JSON.parse(applied_rule.created_expressions.replaceAll("'", '"'))
                        }
                    }

                    this.display_tree(response.body['dot_graph'])
                }, response => {
                    // error callback
                    this.error = response
                });
            },
            display_tree(dot_graph) {
                d3.select("#graph").graphviz()
                    .renderDot(dot_graph);
            },
            get_color(type) {
                let color = "#a5363b"
                if (type === 0) color = "#c66432"
                else if (type === 1) color = "#ca5e26"
                else if (type === 2) color = "#4f7e5f"
                else if (type === 3) color = "#586983"
                else if (type === 4) color = "#8a538a"
                else if (type === 5) color = "#b39986"
                else if (type === 6) color = "#188fec"
                return color
            },
            get_border_color(type) {
                let color = "#A4262C"
                if (type === 0) color = "#CA5010"
                else if (type === 1) color = "#CA5010"
                else if (type === 2) color = "#407855"
                else if (type === 3) color = "#40587C"
                else if (type === 4) color = "#854085"
                else if (type === 5) color = "#867365"
                else if (type === 6) color = "#0078d4"
                return color
            },
            recursive_sentence_structure(sentence_part) {

                c_type = sentence_part['type']

                let ret_html = "<div " +
                    "class=\"p-2 m-2 rounded align-middle\" " +
                    "style=\"background-color: " + this.get_color(c_type) +
                    "; border: 2px solid " + this.get_border_color(c_type) + "\">\n"
                ret_html += "<h3 class='flex-row m-2'>" + sentence_part['name'] + "</h3>"
                ret_html += "<div class='flex-row d-inline-flex m-2'>"
                if (sentence_part['tokens'])
                    ret_html += "<span>" + sentence_part['tokens'] + "</span>"
                for (let i = 0; i < sentence_part['list'].length; i++) {
                    let current_sentence_part = sentence_part['list'][i]
                    if (current_sentence_part['list'] && current_sentence_part['list'].length >= 1) {
                        ret_html += this.recursive_sentence_structure(current_sentence_part)
                    } else {
                        let cs_type = current_sentence_part['type'];
                        ret_html += "<div class=\"p-2 m-2 rounded align-middle\" " +
                            "style=\"background-color: " + this.get_color(cs_type) +
                            "; display: flex; justify-content: center; flex-direction: column; " +
                            "border: 2px solid " + this.get_border_color(cs_type) + "\">\n"
                        if (cs_type === -1)
                            ret_html += "<span>¬</span>"
                        else
                            ret_html += "<span>" + current_sentence_part['name'] + "</span>"
                        if (current_sentence_part['tokens'])
                            ret_html += "<span>" + current_sentence_part['tokens'] + "</span>"
                        ret_html += "</div>"
                    }
                }
                ret_html += "</div></div>\n"
                return ret_html
            }
        },
    })
</script>
</html>